<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.2" targetFramework="net461" />
  <package id="Autofac.Configuration" version="4.0.1" targetFramework="net461" />
  <package id="bootstrap" version="4.0.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="jQuery" version="3.0.0" targetFramework="net461" />
  <package id="MediatR" version="3.0.1" targetFramework="net461" />
  <package id="MediatR.Extensions" version="0.6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.0" targetFramework="net461" />
  <package id="NUnit" version="3.9.0" targetFramework="net461" />
  <package id="NUnit.Console" version="3.8.0" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.8.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.6.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.3" targetFramework="net461" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.7.0" targetFramework="net461" />
  <package id="NUnit.Runners" version="3.8.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.9.0" targetFramework="net461" />
  <package id="popper.js" version="1.12.9" targetFramework="net461" />
  <package id="ServiceStack.Text" version="3.9.11" targetFramework="net461" />
  <package id="System.Collections" version="4.0.11" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net461" />
  <package id="System.IO" version="4.1.0" targetFramework="net461" />
  <package id="System.Linq" version="4.1.0" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net461" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net461" />
  <package id="System.Threading" version="4.0.11" targetFramework="net461" />
</packages>